body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #3ea79e, #feb47b); /* Gradient background */
    font-family: 'Roboto', sans-serif;
}

.calculator {
    border: 2px solid #333;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 320px;
    background: #fff;
}

.display {
    font-size: 2.5em;
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: right;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.btn {
    font-size: 1.4em;
    border: none;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.btn:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
}

.btn:active {
    background-color: #d0d0d0;
    transform: translateY(0);
}

.btn.operator {
    background-color: #c34dda;
    color: #fff;
}

.btn.operator:hover {
    background-color: #0f919d;
}

.btn.equals {
    background-color: #4caf50;
    color: #fff;
    grid-column: span 2;
}

.btn.equals:hover {
    background-color: #388e3c;
}

.btn.zero {
    grid-column: span 2;
}

.btn.zero:hover {
    background-color: #e0e0e0;
}
